@import "../../../../libs/themes/styles/_variables.scss";
.chatBox {
  position: absolute !important;
  top: 0 !important;
  bottom: 55px !important;
  right: 55px !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  border-radius: 15px !important;
  box-shadow: 5px 10px 50px rgba(41, 43, 88, 0.2) !important;
  /* height: 100% !important; */
  z-index: 1000 !important;
}

.chatBox header {
  height: 54px !important;
  width: 100% !important;
  background: $chatBackground !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  padding: 18px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.chatHeader {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}
.vidBtn {
  cursor: pointer !important;
}
.chatBox main {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: white !important;
  width: 100% !important;
  overflow-y: scroll !important;
}
.chatBox main::-webkit-scrollbar {
  display: none !important;
}

.sendMessage {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  display: flex !important;
  padding: 8px !important;
  color: black !important;
  gap: 10px !important;
  border: none !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white !important;
  width: 100% !important;
}
.sendOptions {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;

  .attachments {
    input {
      display: none !important;
    }
  }
  .snapshot {
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    height: 20px !important;
  }
  .blur {
    opacity: 0.3 !important;
  }
}
.attachment_name {
  .loading {
    // overflow: hidden !important;
    display: flex !important;
    // flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
    height: 20px !important;

    div {
      div {
        border-color: $link transparent transparent transparent !important;
      }
    }
  }
}
.chatBox footer {
  max-height: 50px !important;
  border-top: 1px solid #e4e6ea !important;
  background-color: white !important;
  padding: 0 !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  background-color: white !important;
}
.sendMessage input {
  padding: 5px 8px !important;
  border: none !important;
  width: 80% !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  &:focus {
    outline: none !important;
  }
}
.icon {
  cursor: pointer !important;
  color: #8193a8 !important;
}
.msgContainerLeft {
  color: #8193a8 !important;
  margin: 5px 15px !important;
  .msg {
    display: flex !important;
    flex-direction: column !important;

    // gap: 5px !important;

    width: fit-content !important;
    border-radius: 10px !important;
    padding: 8px 10px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #567191 !important;
    background-color: #fafafa !important;

    .images {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;

      gap: 5px !important;
      .image {
        max-width: 280px !important;

        max-height: 160px !important;
        img {
          max-width: 280px !important;
          max-height: 160px !important;
        }
        audio {
          max-width: 250px !important;
          max-height: 50px !important;
        }
      }
    }
    // .attachemnts {
    //   display: flex !important;
    //   flex-wrap: wrap !important;
    //   gap: 10px !important;
    &_ml {
      margin-left: 20px !important;
    }
    .attachemnt {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      // margin-top: -3px !important;
      gap: 10px !important;

      width: 195px !important;
      height: 25px !important;

      border-radius: 10px !important;

      cursor: pointer !important;
      .spinner {
        div {
          width: 15px !important;
          height: 15px !important;
          border: 2px solid $lightBlue !important;
          border-color: $lightBlue transparent transparent transparent !important;
        }
      }
      .attachemntImage {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        background: $lightBlue !important;

        border-radius: 5px !important;
        width: 28px !important;
        height: 28px !important;

        .image {
          color: $input !important;
          height: 16px !important;
          width: 18px !important;
        }
      }
      .download_link {
        .download_icon {
          color: $lightBlue !important;
        }
      }
      .attachemntText {
        margin-right: auto !important;
        width: 120px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        h5 {
          font-size: 12px !important;

          color: $black !important;
          font-weight: 400 !important;
        }
        p {
          font-size: 12px !important;
          font-weight: 400 !important;
          text-transform: uppercase !important;
          color: $black !important;
        }
      }
    }
  }

  .userMsg {
    background: linear-gradient(106.52deg, rgba(162, 130, 232, 0.92) -11.57%, rgba(126, 142, 231, 0.92) 50.39%, rgba(68, 153, 233, 0.92) 116.35%) !important;
    align-self: end !important;
    color: white !important;
  }
  .msgInfo {
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 14px !important;
    padding: 5px 10px !important;
  }
}

.msgContainerRight {
  display: flex !important;
  flex-direction: column !important;
  align-self: end !important;

  .msg {
    .attachemnt {
      .attachemntImage {
        background: rgba(255, 255, 255, 0.48) !important;
        .image {
          color: $mainPurple !important;
        }
      }
      .attachemntText {
        p,
        h5 {
          color: $white !important;
        }
      }
      .download_link {
        .download_icon {
          color: $white !important;
        }
      }
    }
  }
}

.videoPlayer {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 3000 !important;
  width: 500px !important;
  height: 500px !important;
}
