.floatBtn{
    border-radius: 50%;
    background-color: aquamarine;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 80vh;
    right: 20vw;
}