.floatBtn{
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: #7386FF;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.floatBtn:hover{
    background-color: #667AFF;
}

.liveChatContainer{
    position: relative;
    min-height: 40vh;
    min-width: 20vw;

}

.detailsBox{
    position: absolute;
    top: 0;
    bottom: 55px;
    right: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7386FF;
    color: white;
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    border: solid black 1px;
    /* height: 100%; */
    z-index: 1000;
}

.detailsBox header{
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #667AFF;
    color: white;
}

.inputField{
    margin-top: 20px;
    text-align: center;
}
.inputField label{
    display: block;
}

.inputField input{
    padding: 5px 8px;
    border-radius: 8px;
    border: none;
    width: 100%;
    max-width: 200px;
}

.joinBtn{
    margin: 20px auto;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}